/* BODY */

body {
  background-image: linear-gradient(to top, var(--bg-color), white);
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

/* TEXT */

h1 {
  color: var(--text-color);
  font-family: var(--display-font);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

h2,
h3,
h4 {
  font-family: var(--title-font);
  letter-spacing: 0.1rem;
  margin-bottom: 0.75rem;
}

h2 {
  color: var(--text-color);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 200;
}

h3 {
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  color: var(--accent-color);
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: 700;
}

p {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  max-width: 70ch;
}

p.padded {
  padding: 0 1rem;
}

/* p:last-child {
  margin: 0;
} */

li {
  list-style: none;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  font-family: var(--title-font);
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.5s;
}

.btn {
  display: inline-block;
  margin: auto;
  width: 250px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  text-align: center;
  padding: 1rem 2rem;
}

/* NAVIGATION */

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

nav {
  padding: 0;
}

.nav__desktop {
  display: none;
}

.nav__burger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 15;
}

.nav__burger li {
  width: 100%;
  height: 6px;
  background-color: var(--accent-color);
  border-radius: 10px;
  transition: 0.2s linear;
}

.nav__burger.active li:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.nav__burger.active li:nth-child(2) {
  opacity: 0;
}

.nav__burger.active li:nth-child(3) {
  transform: rotate(-45deg);
}

.nav__mobile {
  display: none;
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px white solid;
  text-align: right;
}

.nav__mobile li {
  padding: 1rem;
  border-bottom: 1px solid white;
}

.nav__mobile li:first-child {
  padding-top: 75px;
}

.active {
  display: block;
}

/* ASIDE */

aside {
  display: none;
}

/* CAROUSEL */

#main_container {
  height: 100vh;
  position: relative;
}

.carousel__track-container {
  position: relative;
  max-width: 100%;
  height: 100%;
}

.carousel__track {
  width: 100%;
  height: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.carousel__slide.active {
  opacity: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero {
  position: absolute;
  bottom: 1rem;
  right: 0;
  max-width: 500px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px white solid;
  padding: 1rem 2rem 0.5rem;
  margin: 1rem;
}

#hero h2,
#hero p {
  margin-left: 0.5rem;
}

.carousel__nav {
  display: none;
}

/* PORTFOLIO */

.separator {
  border-left: var(--accent-color) solid 4px;
  padding-left: 1rem;
}

.border_1 {
  padding: 1rem;
  border: var(--accent-color) solid 3px;
}

.border_2 {
  border: var(--secondary-color) solid 2px;
}

.callout {
  background-color: var(--accent-color);
  padding: 1rem 1.5rem;
}

.callout h2 {
  font-weight: 600;
  text-align: center;
}

.callout h2,
.callout p,
.callout p:last-child,
.callout li,
.callout a {
  color: var(--bg-color);
}

.callout p,
.callout p:last-child,
.callout li,
.callout a {
  font-family: var(--body-font);
  font-size: 1.1rem;
  margin: 0;
  text-transform: none;
  letter-spacing: 0;
}

.skill_icon {
  max-width: 30px;
  max-height: 30px;
  margin-right: 1rem;
}

.img_1,
.img_2,
.img_3,
.img_4 {
  /* background-color: var(--accent-color); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.web,
.ui,
.animation,
.content {
  opacity: 0;
  transition: 0.5s ease;
}

/* FOOTER */

footer {
  width: 100%;
  padding: 1.2rem;
  color: var(--accent-color);
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  z-index: 5;
}

footer p:last-child {
  font-size: 0.7rem;
  margin: auto;
}

#mobile__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#mobile__socials li a {
  font-size: 1.7rem;
  color: var(--accent-color);
}

@media (min-width: 800px) {
  /* MAIN */

  main {
    display: grid;
    grid-template-columns: 8vw repeat(11, 1fr);
    grid-template-rows: 13vh 1fr 9vh;
    height: 100vh;
  }

  a:hover {
    opacity: 0.5;
  }

  /* NAVIGATION */

  header {
    height: 8vh;
  }

  nav {
    display: flex;
    justify-content: end;
    padding: 2rem 3rem;
  }

  .nav__desktop {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }

  .nav__burger {
    display: none;
  }

  .nav__mobile {
    display: none;
  }

  /* .active {
    display: block;
  } */

  /* ASIDE */

  aside {
    grid-column: 1;
    position: relative;
    background-image: linear-gradient(to top, var(--bg-color), white);
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
  }

  aside .line {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 55%;
    margin: 0 auto;
  }

  aside .portfolio__line {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 8%;
    margin: 0 auto;
  }

  .tooltip {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75px;
    color: var(--bg-color);
    background-color: var(--accent-color);
    width: 125px;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--body-font);
    font-size: 1rem;
    text-align: center;
  }

  #logo {
    margin: 0 auto;
    background-image: url(../svg/logo.svg);
    background-repeat: no-repeat;
    aspect-ratio: 764.37 / 816.76;
    width: 100px;
  }

  #logo a {
    color: var(--accent-color);
    font-family: var(--display-font);
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: 0;
  }

  #portfolio__nav,
  #socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #socials {
    justify-content: end;
  }

  #portfolio__nav li,
  #socials li {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 50px;
    padding: 0.5rem;
    transition: opacity 0.5s ease;
  }

  #portfolio__nav i,
  #socials i {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-color);
  }

  #portfolio__nav li:has(.active) {
    background-image: linear-gradient(to right, var(--secondary-color) 40%, transparent);
    border-radius: 5px 0 0 5px;
    transition: 0.15s ease-in-out;
  }

  #portfolio__nav li:hover i,
  #socials li:hover a {
    opacity: 0.7;
  }

  #portfolio__nav li:hover .tooltip,
  #socials li:hover .tooltip {
    display: block;
  }

  #portfolio__nav i.active {
    scale: 1.2;
    transition: 0.15s ease-in-out;
  }

  /* CAROUSEL */

  #main_container {
    grid-column: 2 / 12 span;
    grid-row: 1 / 3 span;
  }

  #hero {
    bottom: 15%;
    right: 5%;
  }

  #hero h1 {
    font-size: 2.8rem;
  }

  #hero h2 {
    font-size: 1.5rem;
  }

  .carousel__nav {
    width: 100%;
    padding: 0 0 1rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
  }

  .carousel__button {
    width: 35px;
    height: 35px;
    font-size: 1.25rem;
    color: var(--accent-color);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s;
  }

  .carousel__button:hover {
    opacity: 0.5;
  }

  /* ABOUT */

  #about_container {
    grid-column: 2 / 13;
    grid-row: 2;
    height: 78vh;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem 2rem;
  }

  #about_container .section__1 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 1rem;
  }

  #about_container .section__1 > div,
  #about_container .section__2 {
    position: relative;
  }

  #about_container .section__2 {
    grid-column: 4 / 6;
    grid-row: 1;
  }

  #education,
  #skills {
    position: absolute;
    bottom: 1rem;
    width: 100%;
  }

  #contact {
    margin-top: 1rem;
  }

  #education li {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
  }

  #about {
    position: relative;
  }

  #about img {
    grid-row: 1;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
  }

  #about_container .mascot {
    max-width: 125px;
    position: absolute;
    left: -2rem;
    top: 15rem;
  }

  #contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  #contact i,
  #contact a {
    color: var(--bg-color);
    font-size: 1rem;
  }

  #contact i {
    font-size: 2rem;
  }

  #about_container #skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
  }

  #about_container #skills li {
    display: flex;
    align-items: center;
  }

  #about_container h2 {
    font-size: 1rem;
    margin: 0;
  }

  #about_container h3 {
    font-size: 1.6rem;
  }

  /* PORTFOLIO */

  #portfolio_container {
    position: relative;
    grid-column: 2 / 12 span;
    grid-row: 2;
  }

  #portfolio_container > section {
    position: absolute;
    top: 0;
    left: 0;
  }

  #portfolio_container .carousel__button {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    transform: translateY(-50%);
    z-index: 50;
    transition: opacity 0.5s ease;
  }

  #portfolio_container .carousel__button.inactive {
    opacity: 0.2;
    pointer-events: none;
  }

  #portfolio_container .carousel__button--prev {
    left: 0;
  }

  #portfolio_container .carousel__button--next {
    right: 1rem;
  }

  .flex_pages {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 92vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .flex_pages li {
    scroll-snap-align: start;
    width: 92vw;
    height: 87vh;
    flex: 0 0 auto;
    padding: 0 4rem;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 9vh;
    gap: 0.5rem 2rem;
  }

  .web.active,
  .ui.active,
  .animation.active,
  .content.active {
    opacity: 1;
    transition-delay: 1s;
    z-index: 1;
  }

  /* PORTFOLIO_WEB PAGE #1 */

  .web li:nth-child(1) .img_1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 100%;
    object-fit: cover;
    object-position: 0 5%;
  }

  .web li:nth-child(1) .section__1 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
  }

  .web li:nth-child(1) .section__1 > div {
    grid-column: 1 / 3;
  }

  .web .btn {
    grid-column: 2;
  }

  .web li:nth-child(1) .img_2 {
    height: 175px;
    grid-column: 1 / 6;
    grid-row: 4;
  }

  /* PORTFOLIO_WEB PAGE #2 */

  .web li:nth-child(2) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    padding: 0 1rem;
  }

  .web li:nth-child(2) .section__2 {
    grid-column: 5;
    grid-row: 1 / 5;
    width: 255px;
  }

  .web li:nth-child(2) .img_1 {
    grid-column: 1 / 3;
    grid-row: 4;
    height: 170px;
    /* object-position: 0 50%; */
  }

  .web li:nth-child(2) .img_2 {
    /* width: 350px; */
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }

  .web li:nth-child(2) .img_3 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    object-position: 50%;
  }

  /* PORTFOLIO_WEB PAGE #3 */

  .web li:nth-child(3) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 1rem;
  }

  .web li:nth-child(3) .section__2 {
    grid-column: 3 / 6;
    grid-row: 4;
  }

  .web li:nth-child(3) .img_1 {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
    object-position: 0 20%;
  }

  .web li:nth-child(3) .img_2 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .web li:nth-child(3) .img_3 {
    grid-column: 1;
    grid-row: 3 / 5;
    object-position: 50%;
  }

  .web li:nth-child(3) .img_4 {
    grid-column: 2;
    grid-row: 3 / 5;
    object-position: 50%;
  }

  /* PORTFOLIO_UI/UX PAGE #1 */

  .ui li:nth-child(1) .section__1 {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .ui li:nth-child(1) .section__1 > div {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }

  .ui .btn {
    grid-column: 3;
    grid-row: 4;
  }

  .ui li:nth-child(1) .img_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
  }

  .ui li:nth-child(1) .img_2 {
    height: 250px;
    grid-column: 3 / 6;
    grid-row: 1;
    object-position: 0 95%;
  }

  /* PORTFOLIO_UI/UX PAGE #2 */

  .ui li:nth-child(2) .section__1 {
    grid-column: 1;
    grid-row: 1 / 5;
  }

  .ui li:nth-child(2) .section__2 {
    grid-column: 4 / 6;
    grid-row: 4;
  }

  .ui li:nth-child(2) .img_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .ui li:nth-child(2) .img_2 {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .ui li:nth-child(2) .img_3 {
    grid-column: 4 / 6;
    grid-row: 1 / 4;
    object-position: 50%;
  }

  /* PORTFOLIO_UI/UX PAGE #3 */

  .ui li:nth-child(3) .section__1 {
    grid-column: 1/ 3;
    grid-row: 2;
  }

  .ui li:nth-child(3) .section__2 {
    grid-column: 3;
    grid-row: 1 / 5;
  }

  .ui li:nth-child(3) .img_1 {
    grid-column: 1 / 3;
    grid-row: 1;
    object-position: 0 8%;
  }

  .ui li:nth-child(3) .img_2 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    object-position: 0 100%;
  }

  .ui li:nth-child(3) .img_3 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    object-position: 0 50%;
  }

  .ui li:nth-child(3) .img_4 {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    object-position: 0 54%;
  }

  /* PORTFOLIO_UI/UX PAGE #4 */

  .ui li:nth-child(4) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
  }

  .ui .callout {
    grid-column: 4 / 6;
    grid-row: 4;
  }

  .ui li:nth-child(4) .img_1 {
    grid-column: 3 / 6;
    grid-row: 1;
    object-position: 0 10%;
  }

  .ui li:nth-child(4) .img_2 {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    object-position: 0 30%;
  }

  /* PORTFOLIO_ANIMATION PAGE #1 */

  .animation li:nth-child(1) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .animation li:nth-child(1) .section__2 {
    grid-column: 4 / 6;
    grid-row: 1 / 5;
  }

  .animation li:nth-child(1) .img_1 {
    height: 225px;
  }

  .animation li:nth-child(1) .section__2 > div {
    padding: 0 1rem;
    margin-top: 1rem;
  }

  .animation .btn {
    grid-column: 3;
    margin-bottom: 0;
  }

  #ani_showcase {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    position: relative;
  }

  #ani_showcase > div {
    width: 600px;
    height: 200px;
    background-image: linear-gradient(to top, transparent, var(--secondary-color));
    margin: auto;
    margin-top: 2rem;
  }

  #svg_assassin {
    position: absolute;
    width: 750px;
    bottom: -2.7rem;
    left: -10rem;
  }

  #svg_cultist {
    position: absolute;
    width: 200px;
    bottom: 3rem;
    right: 10rem;
  }

  #svg_life {
    position: absolute;
    width: 180px;
    right: 4rem;
    bottom: 12rem;
    transform: rotate(10deg);
  }

  /* PORTFOLIO_ANIMATION PAGE #2 */

  .animation li:nth-child(2) .section__1 {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .animation li:nth-child(2) .section__2 {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 0.5rem;
  }

  .animation li:nth-child(2) .section__2 > div:first-child {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .animation li:nth-child(2) .img_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    object-position: 10%;
  }

  .animation li:nth-child(2) .img_2,
  .animation li:nth-child(2) .img_3,
  .animation li:nth-child(2) .img_4 {
    grid-row: 2 / 5;
    background-color: white;
    object-position: 30% 0;
  }

  .animation li:nth-child(2) .img_2 {
    grid-column: 1;
  }

  .animation li:nth-child(2) .img_3 {
    grid-column: 2;
  }

  .animation li:nth-child(2) .img_4 {
    grid-column: 3;
  }

  /* PORTFOLIO_ANIMATION PAGE #3 */

  .animation li:nth-child(3) .section__1 {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .animation li:nth-child(3) .section__2 {
    grid-column: 4 / 6;
    grid-row: 1 / 5;
  }

  .animation li:nth-child(3) .img_1 {
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .animation li:nth-child(3) .img_2 {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
  }

  .animation li:nth-child(3) .img_2,
  .animation li:nth-child(3) .section__2 .img_1 {
    background-color: white;
    padding: 0 10rem;
  }

  .animation li:nth-child(3) .section__2 .img_1,
  .animation li:nth-child(3) .section__2 .img_2 {
    height: 175px;
    margin-bottom: 0.75rem;
  }

  .animation li:nth-child(3) .section__2 .img_2 {
    padding: 0;
    object-position: 0 0;
  }

  /* PORTFOLIO_CONTENT Page #1 */

  .content li:nth-child(1) .img_1 {
    object-fit: cover;
    max-height: 500px;
    grid-column: 2 / 6;
    grid-row: 1 / 3;
  }

  /* PORTFOLIO_CONTENT Page #2 */

  .content li:nth-child(2) .section__1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }

  .content li:nth-child(2) .section__2 {
    grid-column: 4 / 6;
    grid-row: 1 / 5;
  }

  .content li:nth-child(2) .img_1 {
    grid-column: 1 / 4;
    grid-row: 4;
    height: 170px;
    object-position: 0 24%;
  }

  /* PORTFOLIO_CONTENT Page #3 */

  .content li:nth-child(3) .section__1 {
    grid-column: 1/ 3;
    grid-row: 3 / 5;
  }

  .content li:nth-child(3) .section__2 {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
  }

  .content li:nth-child(3) .section__2 .img_1 {
    object-position: 50%;
    height: 250px;
  }

  .content li:nth-child(3) .img_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  /* PORTFOLIO_CONTENT Page #4 */

  .content li:nth-child(4) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .content li:nth-child(4) .section__1 > div:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content li:nth-child(4) .section__2 {
    grid-column: 3 / 6;
    grid-row: 4;
  }

  .content li:nth-child(4) .img_1 {
    grid-column: 1;
    grid-row: 2;
    object-position: 100%;
  }

  .content li:nth-child(4) .img_2 {
    grid-column: 2;
    grid-row: 2;
    object-position: 75%;
  }

  .content li:nth-child(4) .img_3 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    object-position: 0 20%;
  }

  .content li:nth-child(4) .img_4 {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }

  /* PORTFOLIO_CONTENT Page #5 */

  .content li:nth-child(5) .section__1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content li:nth-child(5) .section__2 {
    grid-column: 3 / 5;
    grid-row: 1;
  }

  .content .callout {
    grid-column: 4 / 6;
    grid-row: 4;
  }

  .content li:nth-child(5) .img_1 {
    grid-column: 1;
    grid-row: 2 / 5;
    width: 300px;
  }

  .content li:nth-child(5) .img_2 {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    object-position: 0 20%;
  }

  .content li:nth-child(5) .img_3 {
    grid-column: 5;
    grid-row: 1 / 4;
  }

  /* FOOTER */

  footer {
    position: absolute;
    bottom: 0;
    height: 9vh;
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: end;
  }

  footer p:last-child {
    margin: 0;
  }

  #mobile__socials {
    display: none;
  }
}
